/*
*	############################################################################
*	
*	Repute One-Page - Responsive Multipurpose Bootstrap Theme
*	---------------------------------------------------------------------
*
*	Version		1.3 (following main theme version)
*	Author		The Develovers
*	Copyright	Copyright 2015 The Develovers
*
*	############################################################################
*/


$font-path: "../assets/fonts/" !default;
$font-family: "fontawesome" !default;
$image-path: "../assets/img/" !default;

/*
$arrow-color: white !default;
$dot-color: black !default;
$dot-color-active: $slick-dot-color !default;
$prev-character: "←" !default;
$next-character: "→" !default;
$dot-character: "•" !default;
$dot-size: 6px !default;
$opacity-default: 0.75 !default;
$opacity-on-hover: 1 !default;
$opacity-not-active: 0.25 !default;
*/

@function image-url($url) {
	@return url($image-path + $url);
}

@function font-url($url) {
     @return url($font-path + $url);
}



// import general styles and variables
@import "partials/base";
@import "partials/general";

// import third-party
@import "vendors/slick";
@import "vendors/slick-theme-repute";
@import "vendors/animate";
@import "vendors/bootstrap-multiselect";
@import "vendors/datepicker";
@import "vendors/daterangepicker-bs3";

// import web elements
@import "partials/navbar";
@import "partials/hero-unit";
@import "partials/ui-bootstrap-elements";
@import "partials/ui-elements";
@import "partials/portfolio";
@import "partials/blog";
@import "partials/typography";

// import elements available on pages
@import "partials/pages";

// import helper classes
@import "partials/helpers";

// import one-page specific styles
@import "partials/one-page";
